.page-header {
    color: #fff;
    text-align: center;
    background-color: #121212;
    background-image: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #121212;
}